@import "./ui/veriables";
@import "./ui/mixin";
@import "./global";
@import "./layout/header";

@import "./screens/intro";
@import "./screens/about";
@import "./screens/residents";
@import "./screens/scroller";
@import "./screens/help";
@import "./screens/form";
@import "./screens/news";

@import "./layout/footer";