.form {
    padding: 120px 0;
    &__content {
        box-shadow: -20px -20px 20px 0px #ffffff80;
        box-shadow: 10px 10px 20px 0px #aeaec066;
        border-radius: 84px;
        background-color: #f0f0f3;
        padding: 70px 70px 15px 70px;
        position: relative;
        z-index: 2;
        box-shadow: 4px 4px 6px 0px #ffffff80 inset;
    }
    .form {
        display: flex;
        gap: 100px;
        position: relative;
        &__left {
            min-width: 300px;
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__title {
                margin: 0 auto;
                text-align: center;
                @include content(#31373f, 700);
                width: 70%;
            }
            &__text {
                margin: 0 auto;
                text-align: center;
                @include text(#31373f, 400);
                span {
                    color: #0f8a9f;
                    font-weight: 700;
                }
            }
            &__wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .label {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                    &:nth-child(1) {
                        .label__inp {
                            &:focus {
                                border: 1px solid #c29969;
                            }
                            color: #c29969;
                        }
                    }
                    &:nth-child(3) {
                        .label__inp {
                            &:focus {
                                border: 1px solid #0f8a9f;
                            }
                            color: #0f8a9f;
                        }
                    }
                    &:nth-child(2) {
                        .label__inp {
                            &:focus {
                                border: 1px solid #ff7063f7;
                            }
                            color: #ff7063;
                        }
                        .wrap {
                            .label__info {
                                color: #ff7063f7;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                    .label__inp {
                        font-size: 24px;
                        font-weight: 400;
                        background-color: #f6f6f6;
                        box-shadow:
                            -20px -20px 20px 0px #ffffff80,
                            10px 10px 20px 0px #aeaec066,
                            4px 4px 6px 0px #ffffff80 inset;
                        &:focus ~ .label__text{
                            top: -10px;
                        }
                    }
                    .wrap {
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        align-items: center;
                        position: relative;
                        .label__text {
                            font-size: 16px;
                            color: #31373f;
                            font-weight: 400;
                            position: absolute;
                            bottom: -50px;
                            left: 20px;
                        }
                        .label__info {
                            color: #c29969;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    &__inp {
                        border-radius: 51px;
                        width: 100%;
                        padding: 16px 20px;
                        background-color: #ffffff;
                        box-shadow: 0px 3px 5px rgb(204, 204, 204);
                    }
                }
            }
            .label1 {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 15px;
                margin-bottom: 40px;
                // &__inp{
                //     padding: 10px;
                //     color: #0F8A9F;
                // }
            }
            .btn {
                box-shadow:
                    -20px -20px 20px 0px #ffffff80,
                    10px 10px 20px 0px #aeaec066,
                    4px 4px 6px 0px #ffffff80 inset;
                background-color: #f0f0f3;
                @include content(#0f8a9f, 600);
                border-radius: 50px;
                padding: 20px 30px;
            }
        }
    }
    &__right {
        min-width: 300px;
        flex: 1;
        position: relative;
        &__img {
            top: -40%;
            right: -60%;
            position: absolute;
        }
        &__text {
            position: absolute;
            bottom: -105px;
            right: -20px;
            font-size: 12px;
            color: $white;
            width: 85%;
            span {
                text-decoration: underline;
                color: #0f8a9f;
            }
        }
    }
}
.back {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: -1;
}
