.residents {
    padding: 80px 0;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
        position: relative;
        &__title {
            text-transform: uppercase;
            @include title(#31373f, 400);
            span {
                font-size: 52px;
                text-transform: capitalize;
            }
            margin-bottom: 25px
        }
        &__text {
            @include text(#31373f, 400);
            width: 55%;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 40px;
            bottom: -30px;
            gap: 25px;
            &__img {
                width: 133px;
                height: 64px;
            }
            &__btn {
                @include btn(#0f8a9f, 700);
                margin-left: 80px;
                padding: 20px 100px;
                border-radius: 91px;
                text-transform: uppercase;
                box-shadow:
                    -20px -20px 20px 0px #ffffff80,
                    10px 10px 20px 0px #aeaec066,
                    4px 4px 6px 0px #ffffff80 inset;
                    background-color: #F0F0F3;
            }
        }
    }
}
