.header {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(87.43deg, #1d8aa0 44.44%, #31373f 121.29%);
    backdrop-filter: blur(10px);
    z-index: 100;
    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        &__link {
            width: 208px;
            height: 75px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__list {
            display: flex;
            gap: 36px;
            align-items: center;
            position: relative;
            .item {
                @include text($white, 400);
                position: relative;
                transition: all 0.3s ease;
                &::before {
                    content: '';
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: $white;
                    position: absolute;
                    left: 50%;
                    top: -13px;
                    transform: translateX(-50%);
                    display: none;
                }
                &:hover::before {
                    display: block;
                }
                &:hover {
                    font-weight: 700;
                }
            }
        }
        &__wrapper {
            display: flex;
            gap: 40px;
            align-items: center;
            .toggle {
                width: 40px;
                display: flex;
                align-items: center;
                gap: 7px;
                color: white;
            }

            .label {
                cursor: pointer;
                position: relative;
                border-radius: 100px;
                display: flex;
                z-index: 1;
                background-color: #0f8a9f;
            }

            .label::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 50%;
            }

            .label__inp {
                display: none;
            }

            .label__text {
                color: white;
                width: 20px;
                height: 20px;
            }

            .label::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                z-index: -1;
                transition: all 0.3s ease;
                background-color: #ffffff;
                transform: translateY(-50%);
                top: 50%;
                left: 4px;
            }

            .label:has(.label__inp:checked)::after {
                transform: translate(calc(100% + 2px), -50%);
            }
            .number {
                padding: 12px 17px;
                background-color: #f0f0f3;
                border-radius: 91px;
                @include text(#0f8a9f, 400);
            }
        }
    }
}
